<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:layout name="Default" />

	This Template is responsible for creating a table of domain objects.

	If you modify this template, do not forget to change the overwrite settings
	in /Configuration/ExtensionBuilder/settings.yaml:
	  Resources:
		Private:
		  Templates:
			List.html: keep

	Otherwise your changes will be overwritten the next time you save the extension in the extension builder

	<f:section name="content">
		<h1>Listing for Speaker</h1>

		<f:flashMessages />

		<table  class="tx_parsermons" >
			<tr>
				<th><f:translate key="tx_parsermons_domain_model_speaker.uid" /></th>
				<th><f:translate key="tx_parsermons_domain_model_speaker.pid" /></th>
				<th><f:translate key="tx_parsermons_domain_model_speaker.tstamp" /></th>
				<th><f:translate key="tx_parsermons_domain_model_speaker.first_name" /></th>
				<th><f:translate key="tx_parsermons_domain_model_speaker.surname" /></th>
				<th><f:translate key="tx_parsermons_domain_model_speaker.deleted" /></th>
				<th><f:translate key="tx_parsermons_domain_model_speaker.hidden" /></th>
				<th><f:translate key="tx_parsermons_domain_model_speaker.starttime" /></th>
				<th><f:translate key="tx_parsermons_domain_model_speaker.endtime" /></th>
				<th> </th>
				<th> </th>
			</tr>

			<f:for each="{speakers}" as="speaker">
				<tr>
					<td><f:link.action action="show" arguments="{speaker : speaker}"> {speaker.uid}</f:link.action></td>
					<td><f:link.action action="show" arguments="{speaker : speaker}"> {speaker.pid}</f:link.action></td>
					<td><f:link.action action="show" arguments="{speaker : speaker}"> {speaker.tstamp -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{speaker : speaker}"> {speaker.firstName}</f:link.action></td>
					<td><f:link.action action="show" arguments="{speaker : speaker}"> {speaker.surname}</f:link.action></td>
					<td><f:link.action action="show" arguments="{speaker : speaker}"> {speaker.deleted}</f:link.action></td>
					<td><f:link.action action="show" arguments="{speaker : speaker}"> {speaker.hidden}</f:link.action></td>
					<td><f:link.action action="show" arguments="{speaker : speaker}"> {speaker.starttime -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="show" arguments="{speaker : speaker}"> {speaker.endtime -> f:format.date()}</f:link.action></td>
					<td><f:link.action action="edit" arguments="{speaker : speaker}">Edit</f:link.action></td>
					<td><f:link.action action="delete" arguments="{speaker : speaker}">Delete</f:link.action></td>
				</tr>
			</f:for>
		</table>

		<f:link.action action="new">New Speaker</f:link.action>
	</f:section>
</html>