<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">
<f:layout name="Default" />

<f:section name="content">
	<f:form action="list"  name="search">
	<div class="input-group">
		<f:form.textfield name="general" id="general" class="form-control" value="{general}" title="{f:translate(key:'searchtip')}" 
		placeholder="Welke preek zoek je?"  />
		<f:form.button  type="submit" class="btn-link text-primary border-0 bg-white" title="{f:translate(key:'search_button_label')}" >
			<svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-search" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
  			<path fill-rule="evenodd" d="M10.442 10.442a1 1 0 0 1 1.415 0l3.85 3.85a1 1 0 0 1-1.414 1.415l-3.85-3.85a1 1 0 0 1 0-1.415z"/>
  			<path fill-rule="evenodd" d="M6.5 12a5.5 5.5 0 1 0 0-11 5.5 5.5 0 0 0 0 11zM13 6.5a6.5 6.5 0 1 1-13 0 6.5 6.5 0 0 1 13 0z"/>
			</svg>
		</f:form.button>			
	</div>
	</f:form>
	<f:if condition="{sermons}">
		<f:then>
		<div class="row">
		    <div class="col font-weight-bold">{f:translate(key:'tx_parsermons_domain_model_sermon.occurrence_date')}</div>
		    <div class="col font-weight-bold">{f:translate(key:'tx_parsermons_domain_model_sermon.title')}</div>
		    <div class="col font-weight-bold">{f:translate(key:'tx_parsermons_domain_model_sermon.speaker')}</div>
		</div>
		<f:for each="{sermons}" as="sermon" iteration="sermonindex">
			<div class="row {f:if(condition:sermonindex.isEven,then:'alternate-row')} ">
			    <div class="col">
					<f:format.date date="{sermon.occurrenceDate}" format="{f:translate(key: 'dateFormat')}" />
				</div>
			    <div class="col text-wrap">
					<f:link.action action="show" arguments="{general: general, uid: sermon.uid,}" >{sermon.title}</f:link.action>
				</div>
			    <div class="col text-truncate">
					{sermon.fullname}
				</div>
			</div>
		</f:for>
	</f:then>
	</f:if>


</f:section>
</html>
