<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
	
<f:layout name="Default" />

<f:section name="content">
	<header><h3>Dienst</h3></header>

	<f:flashMessages />
	<f:if condition="{sermon}">
		<table  width="100%" >
			<tr>
				<td><h4>{sermon.title}</h4></td>
				<td class="bodytext"><f:format.date date="{sermon.occurrenceDate}" format="{f:translate(key: 'dateFormat')}" /></td>
				</tr>
			<tr>
				<td><f:format.html>{sermon.description}</f:format.html>
					<p><f:translate key="tx_parsermons_domain_model_sermon.sermondownload" />:</p>
				<ul class="download-list">
   					<f:for each="{sermon.resources}" as="sermonfile" >
						<li>
							<f:link.typolink parameter="t3://file?uid={sermonfile.FileUid} _blank ">{sermonfile.Title}</f:link.typolink>
						</li>
   					</f:for>
				</ul>
				</td>
				<td>
					<span>Spreker</span>
					<f:for each="{sermon.speakers}" as="speaker" >
						<p>
						<f:if condition="{speaker.photo.0.FileUid}">
							<f:image src="t3://file?uid={speaker.photo.0.FileUid}" title="{speaker.fullname}"  maxWidth="128"/>
						</f:if>
						</p>
						<p>{speaker.fullname}</p>
					</f:for>
				</td>
			</tr>
		</table>
	</f:if>
	<f:link.action action="list" arguments="{general: general}"><f:translate key="returntolist" /></f:link.action><br />
</f:section>
</html>