<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="uid">
	<f:translate key="tx_parsermons_domain_model_speaker.uid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="uid" /><br />
<label for="pid">
	<f:translate key="tx_parsermons_domain_model_speaker.pid" />
</label><br />
	<f:form.textfield property="pid" /><br />
<label for="tstamp">
	<f:translate key="tx_parsermons_domain_model_speaker.tstamp" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="tstamp" value="{speaker.tstamp->f:format.date()}" /><br />
<label for="firstName">
	<f:translate key="tx_parsermons_domain_model_speaker.first_name" />
</label><br />
	<f:form.textarea property="firstName" cols="40" rows="15" /><br />
<label for="surname">
	<f:translate key="tx_parsermons_domain_model_speaker.surname" />
</label><br />
	<f:form.textarea property="surname" cols="40" rows="15" /><br />
<label for="deleted">
	<f:translate key="tx_parsermons_domain_model_speaker.deleted" />
</label><br />
	<f:form.checkbox property="deleted" value="1" /><br />
<label for="hidden">
	<f:translate key="tx_parsermons_domain_model_speaker.hidden" />
</label><br />
	<f:form.checkbox property="hidden" value="1" /><br />
<label for="starttime">
	<f:translate key="tx_parsermons_domain_model_speaker.starttime" />
</label><br />
	<f:form.textfield property="starttime" value="{speaker.starttime->f:format.date()}" /><br />
<label for="endtime">
	<f:translate key="tx_parsermons_domain_model_speaker.endtime" />
</label><br />
	<f:form.textfield property="endtime" value="{speaker.endtime->f:format.date()}" /><br />
</html>