<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-par-sermons" >
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_speaker.uid" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_speaker.pid" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_speaker.tstamp" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_speaker.first_name" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_speaker.surname" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_speaker.deleted" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_speaker.hidden" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_speaker.starttime" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_speaker.endtime" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>