<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<label for="uid">
	<f:translate key="tx_parsermons_domain_model_sermon.uid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="uid" /><br />
<label for="pid">
	<f:translate key="tx_parsermons_domain_model_sermon.pid" />
</label><br />
	<f:form.textfield property="pid" /><br />
<label for="title">
	<f:translate key="tx_parsermons_domain_model_sermon.title" /> <span class="required">(required)</span>
</label><br />
	<f:form.textarea property="title" cols="40" rows="15" /><br />
<label for="occurrenceDate">
	<f:translate key="tx_parsermons_domain_model_sermon.occurrence_date" />
</label><br />
	<f:form.textfield property="occurrenceDate" value="{sermon.occurrenceDate->f:format.date()}" /><br />
<label for="description">
	<f:translate key="tx_parsermons_domain_model_sermon.description" />
</label><br />
	<f:form.textarea property="description" cols="40" rows="15" /><br />
<label for="tstamp">
	<f:translate key="tx_parsermons_domain_model_sermon.tstamp" />
</label><br />
	<f:form.textfield property="tstamp" value="{sermon.tstamp->f:format.date()}" /><br />
<label for="deleted">
	<f:translate key="tx_parsermons_domain_model_sermon.deleted" />
</label><br />
	<f:form.checkbox property="deleted" value="1" /><br />
<label for="hidden">
	<f:translate key="tx_parsermons_domain_model_sermon.hidden" />
</label><br />
	<f:form.checkbox property="hidden" value="1" /><br />
<label for="crdate">
	<f:translate key="tx_parsermons_domain_model_sermon.crdate" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="crdate" value="{sermon.crdate->f:format.date()}" /><br />
<label for="cruserId">
	<f:translate key="tx_parsermons_domain_model_sermon.cruser_id" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="cruserId" /><br />
<label for="feGroup">
	<f:translate key="tx_parsermons_domain_model_sermon.fe_group" />
</label><br />
	<f:form.textfield property="feGroup" /><br />
<label for="starttime">
	<f:translate key="tx_parsermons_domain_model_sermon.starttime" />
</label><br />
	<f:form.textfield property="starttime" value="{sermon.starttime->f:format.date()}" /><br />
<label for="endtime">
	<f:translate key="tx_parsermons_domain_model_sermon.endtime" />
</label><br />
	<f:form.textfield property="endtime" value="{sermon.endtime->f:format.date()}" /><br />
<label for="sysLanguageUid">
	<f:translate key="tx_parsermons_domain_model_sermon.sys_language_uid" /> <span class="required">(required)</span>
</label><br />
	<f:form.textfield property="sysLanguageUid" /><br />
</html>