<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-par-sermons" >
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_sermon.uid" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_sermon.pid" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_sermon.title" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_sermon.occurrence_date" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_sermon.description" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_sermon.tstamp" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_sermon.deleted" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_sermon.hidden" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_sermon.crdate" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_sermon.cruser_id" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_sermon.fe_group" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_sermon.starttime" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_sermon.endtime" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_parsermons_domain_model_sermon.sys_language_uid" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>